* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%; /* Устанавливаем высоту для html и body */
  width: 100%;
}


body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #f4f4f9;
}

.container {
  display: flex;
  width: 90vw; 
  max-width: 1200px;
  height: 90vh; 
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.left-side, .right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}
.middle {
  flex-direction: column;
  height: 100%;
  padding: 5px;
  gap: 5px;
}

.buttons {
  display: flex;
  gap: 10px;
}

button {
  padding: 10px 20px;
  background-color: #F18989;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #de5252;
}

.input-field {
  flex: 1;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  font-size: 16px;
}

.middle-button {
  /*align-self: center; /* Центрируем кнопку */
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.input-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-top: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

input {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.ipa-keyboard {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
  gap: 5px;
  justify-content: center; /* Горизонтальное выравнивание */
  margin-top: 10px;
}

.ipa-button {
  font-size: 2em;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #f0f0f0;
  cursor: pointer;
}

.ipa-button:hover {
  background-color: #e0e0e0;
}

/* Новые стили для кнопки "Показать клавиатуру" */
.toggle-button {
  position: absolute; /* Устанавливаем абсолютное позиционирование */
  padding: 10px; /* Паддинг для кнопки */
  background-color: #007bff; /* Цвет фона кнопки */
  color: white; /* Цвет текста */
  border-radius: 5px; /* Скругление углов */
  cursor: pointer; /* Курсор при наведении */
  transition: background-color .3s; /* Плавный переход цвета фона */
}

.toggle-button:hover {
  background-color: #0056b3; /* Цвет фона при наведении */
}

.bottom-right {
  position: absolute; 
  bottom: calc(20px); /* Расположение внизу справа */
  right: calc(20px); /* Расположение внизу справа */
}

.above-keyboard {
  top: calc(5px); /* Положение над клавиатурой */
  right: calc(20px); /* Расположение внизу справа */
}