* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%; /* Устанавливаем высоту для html и body */
  width: 100%;
}


body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #f4f4f9;
}

.container {
  display: flex;
  width: 90vw; 
  max-width: 1200px;
  height: 90vh; 
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.left-side, .right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}
.middle {
  flex-direction: column;
  height: 100%;
  padding: 5px;
  gap: 5px;
}

.buttons {
  display: flex;
  gap: 10px;
}

button {
  padding: 10px 20px;
  background-color: #F18989;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #de5252;
}

.input-field {
  flex: 1;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  font-size: 16px;
}

.middle-button {
  /*align-self: center; /* Центрируем кнопку */
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
}
